replicaCount: 1

api:
  image:
    repository: langgenius/dify-api
    tag: "0.6.13"
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "2Gi"
      cpu: "1000m"

web:
  image:
    repository: langgenius/dify-web
    tag: "0.6.13"
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"

ingress:
  enabled: true
  host: dify.sunmart.online
  certResolver: letsencrypt-prod
  annotations:
    kubernetes.io/ingress.class: traefik

persistence:
  enabled: true
  storageClass: local-path
  size: 10Gi
